body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
